@import '../../styles/theme.module.scss';

.root {
  font: $large-font;
  display: block;
  flex-direction: column;
  row-gap: $mobile-width;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 2em;
  padding-bottom: 2em;
  opacity: 1;
  position: static;
  column-gap: $mobile-width;
}

.gradient {
  position: absolute;
  top: 20em;
  background-color: transparent; /* Use transparent background */
  width: 100%; /* Full width */
  height: 100px; /* Adjust height as needed */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat; /* Prevent repeating the gradient */
  background-position: top left; /* Position the gradient starting from the top left */
  background-size: cover; /* Ensure the gradient covers the entire element */
  background-attachment: scroll;
  background-clip: padding-box;
  left: 0px;
  right: 0px;
}

.logo {
  text-align: center;
  width: 100%;
  display: inline-block;
  flex-direction: row;
  height: 8em;
  padding-top: 1em;
}

.video {
  position: absolute;
  top: 20em;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  border-radius: 0px;
  display: inline-block;
}

.title {
  font: $title-font;
  text-align: center;
  letter-spacing: 0.4rem;

  @media only screen and (max-width: $mobile-width) {
    font-size: 3rem;
  }
  color: #ffffff;
  padding-top: 100px;
  border-radius: 0px;
}

.paragraph {
  text-align: center;
  display: flex;
  justify-content: center;
  font: $paragraph-font;

  @media only screen and (max-width: $mobile-width) {
    font-size: 1rem;
  }
  color: #225675;
  padding-top: 3em;
  margin-bottom: 2em;
}

.text {
  width: 80%;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8;
  color: #225675;
}

.button {
  font: $button-font;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: $white;
  border-radius: 9999px;
  align-self: center;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 12px;
  padding-top: 12px;
  &:disabled {
    pointer-events: none;
    opacity: 1;
    background-color: rgba(77, 77, 77, 0.8);
    cursor: not-allowed;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.image {
  align-self: center;
  height: 14em;
  margin-top: 1em;
  width: 24em;
}
.buttons {
  text-align: center;
  position: static;
}
