.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recordButton {
  background-color: transparent;
  color: rgb(106, 202, 209);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(187, 255, 246, 0),
    rgba(187, 255, 246, 0.4)
  );
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}

.recordButton:hover {
    background-image: radial-gradient(
    circle at 50% 50%,
    rgba(187, 255, 246, 0),
    rgba(187, 255, 246, 0.2)
  );
}

.recordButton:focus {
  background-image: radial-gradient(circle at 50% 50%, rgb(187, 255, 246), rgba(0, 0, 0, 0));
}
