.root {
  background-color: #ffffff;
  position: fixed; /* Stick to the top of the viewport */
  width: 100%;
  height: 50px; /* Adjust height as needed */
  align-items: center;
  top: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  background-image: linear-gradient(180deg, #d1fff7 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-origin: padding-box;
  background-color: rgba(230, 230, 230, 0), rgba(230, 230, 230, 0);
  background-clip: border-box;
  transition: top 0.4s; /* Smooth transition for hiding/showing the header */
  z-index: 1; /* Ensure the root has a lower z-index */
}

.logo {
  text-align: center;
  width: 100px;
  height: 40px;
}

.Info {
  display: flex;
  gap: 20px;
  flex-direction: row;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0.2em 1em;
  position: fixed; /* Stick to the top of the viewport */
  width: 100%;
  height: 50px; /* Adjust height as needed */
  top: 0;
  left: 0;
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  overflow: hidden; /* Prevent horizontal overflow */
  z-index: 2; /* Ensure the header is above the gradient */
  transition: top 0.3s; /* Smooth transition for hiding/showing the header */
}

.hidden {
  top: -50px; /* Adjust this value to match the height of your header */
}
